/*** Default Styles ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #646464;
    text-align: left;
    background-color: #F2F2F2;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Averia Serif Libre", cursive;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: #141414;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #78CC6D;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #4aaf3d;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #646464;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(120, 204, 109, 0.25);
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col-12,
.col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    padding: 3rem 0.9rem;
    margin: 0 auto;
    background-color: #ffffff;
}

.title {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #78CC6D;
}

/********** Layout Style **********/

/* CV Sidebar Styles */
.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.wrapper .sidebar {
    position: relative;
    width: 100%;
    float: left;
    padding: 30px;
    background: #ffffff;
}

.wrapper .sidebar .sidebar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.wrapper .sidebar h1 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #141414;

}

.wrapper .sidebar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    vertical-align: middle;
    border-style: none;
}

.wrapper .sidebar h2 {
    margin-top: 0.5rem;
}

.wrapper .sidebar .typed-text-container {
    margin-bottom: 1.5rem;
    height: 22px;
}

.wrapper .sidebar .typed-text {
    display: none;
}

.wrapper .sidebar .socials {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.wrapper .sidebar .socials a {
    margin: 0 0.5rem;
}

.wrapper .sidebar .contact {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.wrapper .sidebar .contact .border-right {
    border-right: 1px solid #dee2e6 !important;
}

/** Main Section Style **/
.wrapper .content {
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;
    background: #F2F2F2;
}

.wrapper .sidebar,
.wrapper .content {
    transition: margin 200ms ease-out;
}

/* Styles For About Me Section*/
.content .about-me .about-content {
    padding: 0 1rem;
}

.content .about-me .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;

}

.content .about-me h5 {
    display: inline;
    color: #78CC6D;
    padding: 0.25rem 0;
    font-weight: 400;
    font-size: 1.25rem;
}

.content .about-me a {
    color: #646464;
}

